body{width:1400px;height:690px;}                                                    
.hlavni_cast{width:700px;height:686px;border:2.5px;margin-left:6%;}

.tabulky_obecne_nastaveni{position:absolute;width:400px;margin-top:10%;margin-left:8.2%;}

.tabulka_skolni_verze{background-color:#000080;width:200px;height:50px;text-align:center;margin-top:13px;float:left;}                         
.tabulka_verejna_verze{width:200px;height:50px;background-color:#900020;text-align:center;margin-top:13px;}

#text_skolni_verze a:link{text-decoration:none;color:white;}
#text_skolni_verze a:visited{text-decoration:none;color:white;}
#text_skolni_verze a:active{color:white;}
#text_skolni_verze{font-family:arial;text-align:center;font-weight:bold;}

#text_verejna_verze a:link{text-decoration:none;color:white;}
#text_verejna_verze a:visited{text-decoration:none;color:white;}
#text_verejna_verze a:active{color:white;}
#text_verejna_verze{font-family:arial;text-align:center;font-weight:bold;}
 
#zpet_na_hlavni_stranu{position:absolute;color:black;font-family:arial;text-align:left;font-weight:bold;margin-top:450px;}
