body{width:1280px;height:1020px;background-image:url(background1.jpg);background-repeat:no-repeat;background-color:black;text-decoration:none;}                                                    

.hlavni_cast{position:relative;width:700px;height:618px;margin-left:6%;margin-top:130px;}
.informacni_centrum{position:relative;width:212px;height:618px;margin-top:-618px;margin-left:846px;}

.horni_pruh{position:absolute;border:1px red solid;width:1280px;height:50px;margin-top:-120px;}
.horni_pruh p{color:white;text-align:center;font-family:arial;font-size:30pt;margin:0px;}

.uvodni_nadpis{text-align:center;background-color:yellow;border-radius:30px 30px 30px 30px;}
.uvodni_nadpis{transition:background 2s;}
.uvodni_nadpis:hover{background-color:white;}
.uvodni_nadpis p{font-weight:bold;font-size:30pt;font-family:arial;color:black;margin:0px;padding-top:15px;padding-bottom:15px;}

.nabidka_rychlých_pristupu{position:absolute;font-family:arial;font-weight:bold;color:white;margin-top:-26px;}

.tabulka_rychle_pristupy{position:absolute;width:570px;margin-top:40px;}  

.tabulka_drive{background-color:green;width:80px;height:50px;text-align:center;margin-top:13px;float:left;border-radius:30px 0px 0px 30px;}                         
.tabulka_facebook{background-color:blue;width:120px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_bakalari{background-color:purple;width:110px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_skolni_posta{background-color:#882D17;width:150px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_e_strava{background-color:gray;width:110px;height:50px;text-align:center;margin-top:13px;float:left;border-radius:0px 30px 30px 0px;}

.tabulka_drive{transition:background 0.5s;}
.tabulka_facebook{transition:background 0.5s;}
.tabulka_bakalari{transition:background 0.5s;}
.tabulka_skolni_posta{transition:background 0.5s;}
.tabulka_e_strava{transition:background 0.5s;}

.tabulka_drive:hover{background-color:red;}
.tabulka_facebook:hover{background-color:red;}
.tabulka_bakalari:hover{background-color:red;}
.tabulka_skolni_posta:hover{background-color:red;}
.tabulka_e_strava:hover{background-color:red;}

#text_drive{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_facebook{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_bakalari{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_skolni_posta{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_e_strava{font-family:arial;text-align:center;font-weight:bold;color:white;}                                                                                                        

.tridni_album_nadpis{margin-top:-400px;font-family:arial;font-weight:bold;color:white;} 
.tridni_album{position:relative;margin-top:162px;white-space:nowrap;overflow:scroll;width:700px;}              
.tridni_album img{display:inline;}                           

#p_nadpis_informace{margin:0px;text-align:center;background-color:yellow;font-weight:bold;font-size:20pt;font-family:arial;padding-top:10px;padding-bottom:10px;border-radius:30px 30px 30px 30px;}
#p_nadpis_informace{transition:background 2s;}
#p_nadpis_informace:hover{background:white;}

.mapa_stranky{background-color:#FFD700;font-weight:bold;font-size:15pt;font-family:arial;padding-right:5px;padding-top:5px;padding-bottom:5px;margin-top:40px;border-radius:30px 30px 30px 30px;}
.mapa_stranky p{margin:0px;margin-bottom:20px;margin-top:17px;text-align:center;text-transform:uppercase;}
.mapa_stranky{transition:background 2s;}
.mapa_stranky:hover{background:yellow;}

#p_funkcni_nefunkci{background-color:#FFD700;font-weight:bold;font-size:15pt;font-family:arial;padding-top:10px;padding-bottom:10px;margin-top:40px;text-align:center;border-radius:30px 30px 30px 30px;}
#p_funkcni_nefunkci{transition:background 2s;}
#p_funkcni_nefunkci:hover{background:yellow;}

.manualni_zapati{clear:both;color:black;font-family:arial;font-weight:bold;width:982.5px;height:18px;margin-left:0px;margin-left:75px;}
#leve_info{margin:0px;color:white;float:left;}
#prave_info{text-align:right;margin:0px;color:white;}


/*------------------------------------------------------------------------------*/

/*.test2{position:absolute;width:100px;height:100px;margin-left:1430px;margin-top:80px;}
#button1{position:absolute;width:100px;height:100px;margin-left:0px;margin-top:0px;}*/

/*.informacni_centrum{position:static;width:212px;height:686px;margin-top:-726.5px;margin-left:846px;border:1px red solid*/

/*#text_mapa_stranky{background-color:#FFD700;font-weight:bold;font-size:15pt;font-family:arial;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;}*/

/*.uvodni_nadpis a:link{text-decoration:none;color:black;}
.uvodni_nadpis a:visited{text-decoration:none;color:black;}
.uvodni_nadpis a:active{text-decoration:none;color:black;}*/

/*#text_e_strava a:link{text-decoration:none;color:white;}
#text_e_strava a:visited{text-decoration:none;color:white;}
#text_e_strava a:active{color:white;}*/

/*#text_bakalari a:link{text-decoration:none;color:white;}
#text_bakalari a:visited{text-decoration:none;color:white;}
#text_bakalari a:active{color:white;}*/

/*#text_facebook a:link{text-decoration:none;color:white;}
#text_facebook a:visited{text-decoration:none;color:white;}
#text_facebook a:active{color:white;}*/

/*#text_drive a:link{text-decoration:none;color:white;}
#text_drive a:visited{text-decoration:none;color:white;}
#text_drive a:active{color:white;}*/

/*.uvodni_nadpis p{transition:color 1s;}
.uvodni_nadpis p:hover{color:white;}*/

/*#nadpis_informace{transition:background 2s;}
#nadpis_informace:hover{color:white;}*/
/*NEFUNGUJE!!!!!!!!!!!!!*/

/*.informacni_centrum ul{text-align:left;font-size:12px;font-family:arial;}
.informacni_centrum li{float:left;}
.informacni_centrum, #prvni_informace{text-align:left;}*/
/*.sjednoceni_nabidky{margin-left:10%;margin-top:-1%;}*/
/*.tabulka_nabidky{background-color:yellow;width:100px;float:left;}
.table_smer_odkazy{width:100px;border-style:solid;float:left;margin-top:0.35%}     
#text_nabidky{font-family:arial;text-align:center;font-weight:bold;}
#smer_odkazy{font-family:arial;font-size:10pt;}*/ 
/*.rovna_cara_1{position:absolute;}*//*NEFUNGUJE*/
/*a:link, a:visited{text-decoration:none;} - KOMPLETNĚ ZRUŠÍ PODTRHNUTÍ ODKAZŮ.*/
/*margin-left:25%;padding-left:4px;padding-right:4px;*/
/*position:static společně společně s width
                se na přesné nastavení stránky atributu body 
                nastaví daná veliksot panelu přesně od začátku 
                do konce nastaveneho body*/ 
 /*TENTO KÓD JE DŮLEŤITÝ*//*|*//*border:2px solid red;*/
/*border:1px solid blue;clear: both;*/
/*__________________________________________________________________________________________________*/

/*.panelnabidek table{border-spacing:5px;
/*position:none;*/                            
/*.odkazy_obecne{

                   border-style:none;
                   border-color:blue;
                   padding-top:4px;
                   padding-bottom:3px;
                   font-family:arial;
                   text-align:center;
                   font-weight:bold;
                  
               ;}*/
              /*padding-left:4px;margin-left:10px;'top:5px;padding-right:
              margin-left:10%;4px;padding-top:4px;padding-bottom:3px;*/

/*.cela_stranka{width:700px;height:720px;}*/               
/*#odkaz_facebook td{

                       border-style:none;
                       border-color:blue;
                       width:140px; 
                       padding-top:4px;
                       padding-bottom:3px;
                       font-family:arial;
                       text-align:center;
                
                   ;}
            
            /*margin-left:10%; padding-left:4px;padding-right:4px;'top:5px;*/
/*__________________________________________________________________________________________________*/

/*----------#odkaztest2{
            'top:5px;
            margin-left:19%;
            border-style:solid;
            border-color:blue;
            width:90px;
            padding-left:4px;
            padding-right:4px;
            padding-top:4px;
            padding-bottom:3px;
            font-family:arial;
            text-align:center;
            ;}*/                      
/*#postranipanel1{border-style:dotted;
                margin-top:10px;
                ;}
/*__________________________________________________________________________________________________*/
                
/*body{background-image:url(1.jpg);
     ;
     background-attachment:scroll;
     ;
     background-repeat:no-repeat;
     background-position:99% 10%;
     ;}*/
/*__________________________________________________________________________________________________*/
   
/*.album1{margin-top:0.7%;
      
        float:left;
        width:100%;

        ;}*/
/*__________________________________________________________________________________________________*/
        
/*.album1 h1{font-family:arial;
           ;}*/

/*position:absolute;*/
/*__________________________________________________________________________________________________*/
                     
/*#odkaznaspsoafm odkaztest1 odkaztest{border-spacing: 500px}*/
  

          
/*text-transform:none;margin-top:-20%;margin-left:95.2%;*//*|*//*position:absolute > margin-top:3.5%;*/
           
/*.album1 p{text-align:right;
          font-family:arial;
          font-weight:bold;
          float:left;
          ;}
          /*float:right;*/
/*__________________________________________________________________________________________________*/
          
/*.img1 #albumimg1{text-align:right;
           font-family:arial;
           font-weight:bold;
           float:right;
           ;}*/
/*__________________________________________________________________________________________________*/

/*.img2 #albumimg2{;
                font-family:arial;
                font-weight:bold;
                float:right;
           ;}*/
/*__________________________________________________________________________________________________*/

/*#albumimg3 .img3{;
           font-family:arial;
           font-weight:bold;
           float:right;
           ;}*/
/*__________________________________________________________________________________________________*/

/*#albumimg4 .img4{;
           font-family:arial;
           font-weight:bold;
           float:right;
           ;}*/                
          