body{width:1680px;height:1050px;background-image:url(background1.jpg);background-repeat:no-repeat;background-color:black;text-decoration:none;overflow:hidden;}                                                    


#bezici_text{font-size:30pt;background-color:none;margin-top:10px;width:979px;margin-left:78px;}
#bezici_text p{font-family:arial;padding-bottom:2.5px;;margin:0px;color:white;}

.hlavni_cast{position:relative;width:700px;height:618px;margin-left:78px;margin-top:30px;}
.informacni_centrum{position:relative;width:212px;height:618px;margin-top:-618px;margin-left:846px;}

.uvodni_nadpis{text-align:center;background-color:yellow;border-radius:30px 30px 30px 30px;}
.uvodni_nadpis{transition:background 2s;}
.uvodni_nadpis:hover{background-color:white;}
.uvodni_nadpis p{font-weight:bold;font-size:30pt;font-family:arial;color:black;margin:0px;padding-top:15px;padding-bottom:15px;}

.nabidka_rychlých_pristupu{position:absolute;font-family:arial;font-weight:bold;color:white;margin-top:-26px;}

.tabulka_rychle_pristupy{position:absolute;width:570px;margin-top:40px;}  

.tabulka_drive{background-color:green;width:80px;height:50px;text-align:center;margin-top:13px;float:left;border-radius:30px 0px 0px 30px;}                         
.tabulka_facebook{background-color:blue;width:120px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_bakalari{background-color:purple;width:110px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_skolni_posta{background-color:#882D17;width:150px;height:50px;text-align:center;margin-top:13px;float:left;}
.tabulka_e_strava{background-color:gray;width:110px;height:50px;text-align:center;margin-top:13px;float:left;border-radius:0px 30px 30px 0px;}

.tabulka_drive{transition:background 0.5s;}
.tabulka_facebook{transition:background 0.5s;}
.tabulka_bakalari{transition:background 0.5s;}
.tabulka_skolni_posta{transition:background 0.5s;}
.tabulka_e_strava{transition:background 0.5s;}

.tabulka_drive:hover{background-color:red;}
.tabulka_facebook:hover{background-color:red;}
.tabulka_bakalari:hover{background-color:red;}
.tabulka_skolni_posta:hover{background-color:red;}
.tabulka_e_strava:hover{background-color:red;}

#text_drive{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_facebook{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_bakalari{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_skolni_posta{font-family:arial;text-align:center;font-weight:bold;color:white;}
#text_e_strava{font-family:arial;text-align:center;font-weight:bold;color:white;}                                                                                                        

.tridni_album_nadpis{margin-top:-400px;font-family:arial;font-weight:bold;color:white;} 
.tridni_album{position:relative;margin-top:162px;white-space:nowrap;overflow:auto;width:700px;border-radius:30px 30px 0px 0px;}              
.tridni_album img{display:inline;} 
.img1{border-radius:30px 30px 30px 30px;}
.img2{border-radius:30px 30px 30px 30px;}
.img3{border-radius:30px 30px 30px 30px;}
.img4{border-radius:30px 30px 30px 30px;}                          

#p_nadpis_informace{margin:0px;text-align:center;background-color:yellow;font-weight:bold;font-size:20pt;font-family:arial;padding-top:10px;padding-bottom:10px;border-radius:30px 30px 30px 30px;}
#p_nadpis_informace{transition:background 2s;}
#p_nadpis_informace:hover{background:white;}

.mapa_stranky{background-color:#FFD700;font-weight:bold;font-size:15pt;font-family:arial;padding-right:5px;padding-top:5px;padding-bottom:5px;margin-top:40px;border-radius:30px 30px 30px 30px;}
.mapa_stranky p{margin:0px;margin-bottom:20px;margin-top:17px;text-align:center;text-transform:uppercase;}
.mapa_stranky{transition:background 2s;}
.mapa_stranky:hover{background:yellow;}

#p_funkcni_nefunkci{background-color:#FFD700;font-weight:bold;font-size:15pt;font-family:arial;padding-top:10px;padding-bottom:10px;margin-top:40px;text-align:center;border-radius:30px 30px 30px 30px;}
#p_funkcni_nefunkci{transition:background 2s;}
#p_funkcni_nefunkci:hover{background:yellow;}

.manualni_zapati{color:black;font-family:arial;font-weight:bold;width:979px;height:18px;margin-left:77.5px;clear:both;margin-top:0px;}
#leve_info{margin:0px;color:white;float:left;}
#prave_info{text-align:right;margin:0px;color:white;}
